/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,em,img,strong,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline}
body{line-height:1}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
strong{font-weight:bold}
/*clearfix*/
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

/*text rule*/
@font-face{font-family:'BebasNeueRegular';src:url('fonts/bebas/BebasNeue-webfont.eot');src:url('fonts/bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/bebas/BebasNeue-webfont.woff') format('woff'),url('fonts/bebas/BebasNeue-webfont.ttf') format('truetype'),url('fonts/bebas/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');font-weight:normal;font-style:normal}

body{font:12px Helvetica,Arial,sans-serif;line-height:normal;color:#0069b5}
a{color:#333;text-decoration:none;outline:none}
a:hover{color:#000;cursor:pointer}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:1;margin-bottom:15px}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:0px}
h1,h2,h3,h4,h5{font-weight:normal}
h1{font-size:23px}
h2{font-size:24px}
h3{font-size:15px}
h4{font-size:14px}
*{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased}

/*global font*/
.nav a,#name1,#cta-home a,#reg-btn,.summary,.phases a{font-family:BebasNeueRegular}
#name2,.pagetitle,#pagination a,.vote-btn{font-family:Lobster}


/*container*/
#container{width:100%;min-width:320px;margin:0 auto;position:relative}
.container{max-width:900px;margin:0 auto;position:relative;min-width:320px}
#sub-header,#header,#main,#footer{width:100%}

/*header*/
#header{height:149px;background:#29388d}
#header .container{width:100%;max-width:none}
#logo{float:left}
#logo a{display:block;vertical-align:top}
#logo img{height:100%;vertical-align:top}
.nav{margin:95px 20px 0 0;float:right}
.nav li{float:left;margin:0 0 0 30px}
.nav a{color:#fff;text-transform:uppercase;font-size:20px;position:relative;z-index:10}
.nav .last{margin:0}
.socmed{position:absolute;top:25px;right:10px}
.socmed li{float:left;margin:0 10px 0 0}
.socmed a{ background:url(../img/socmed.png) no-repeat 0 0;display:block;height:23px;width:23px;text-indent:-999em}
.socmed a.fb{background-position:100% 0}
#to-nav{display:none;float:right;margin:20px 20px 0 0}
#to-nav a{background:url(../img/nav.png) no-repeat 0 0;height:33px;width:33px;display:block;text-indent:-999em}
#footer .to-top a{color:#888;font-size:16px}


/*home*/
html#home{background:#faf3e5 url(../img/bg.png) no-repeat center 8px fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
#home #main{min-height:460px;max-height:640px;background:none;padding:0}
#home #appname{text-align:center;padding:25px 0;display:block;clear:both}
#home #name1{font-size:18px;letter-spacing:12px;color:#0072bb;padding:0 0 8px}
#home #name2{color:#0072bb;font-size:45px;text-shadow:2px -2px 0 #fff;background:#6dcff6;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;border-radius:50px;-ms-border-radius:50px;display:inline-block;border:2px solid #fff;padding:3px 25px}
#teaser{max-width:790px;min-width:320px;margin:0 auto;position:relative}
#cta-home,#teaser-text{position:relative;z-index:9}
#teaser-text{font-size:16px;color:#fff;text-align:center}
#teaser-text .wrap{padding:23% 21% 0}
#teaser-context{background:url(../img/line.png) no-repeat center 100%;padding:0 0 15px}
#cta-home{margin:20px 0 29px}
#cta-home a{width:160px;font-size:18px;color:#0069b5;background:#fff;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;-ms-border-radius:50px;-moz-box-shadow:0 2px 5px rgba(0,0,0,0.4);-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.4);-o-box-shadow:0 2px 5px rgba(0,0,0,0.4);box-shadow:0 2px 5px rgba(0,0,0,0.4);-ms-box-shadow:0 2px 5px rgba(0,0,0,0.4);display:inline-block;padding:5px 0;margin:0 10px}
#mbp{width:100%;position:absolute;top:0;vertical-align:top}
#home #footer{color:#fff}

/*footer*/
#footer{text-align:center;font-size:10px;padding:10px 0 20px;color:inherit}
#copyright{text-align:center;clear:both}
#btm-nav{float:left;margin:0 0 210px;display:none}
#footer .nav li{float:left;display:block;clear:both;width:100%;text-align:left;margin:0}
#footer .nav a{padding:20px;display:block;width:100%}
#footer .nav a:active{opacity:0.6}
#footer .socmed{top:20px;display:none}

/*sub-header*/
#sub-header{background:#faf3e5}
#sub-header .container{position:relative}
#appname{text-align:center;padding:10px 0;display:block;clear:both}
#name1{font-size:12px;letter-spacing:6px;color:#0072bb}
#name2{color:#0072bb;font-size:28px}
#cta-top{width:145px;margin:10px auto;position:absolute;top:6px;left:10px}
#cta-top a{ background:url(../img/cta.png) no-repeat 0 0;width:145px;height:35px;display:block;text-indent:-999em}
#cta-top a:hover{opacity:.8}

/*page*/
.pagetitle{font-size:27px;color:#faf3e5;text-align:center;margin:0 0 25px;background:url(../img/line.png) no-repeat center 100%;padding:20px 0 15px}
#main{background:#4b98c8;padding:20px 0 50px}
#main .to-top{text-align:right;margin:40px 20px 0 0;display:none;clear:both;float:right}
#main .to-top a{color:#fff}

/*success*/
.single-text{color:#fff;font-size:18px;text-align:center;margin:0 0 30px;display:block}
.boxes{color:#fff;font-size:18px;text-align:center;font-weight:bold}
.boxes a{text-indent:-999em;background:url(../img/icon2.png) no-repeat center 0;height:66px;width:65px;display:block;margin:0 auto 20px}
#box1,#box2{width:48%;display:block;margin:0 1%;float:left}
#box2{text-align:center}
#box2 a{display:inline-block;margin:0 1% 20px}
a#to-fb{background-position:center -66px}
a#to-tw{background-position:center -132px}
#success.text-wrap{margin:0 0 80px;background:none}

/*how to & tnc*/
.text-only.text-wrap{color:#fff;color:#363636}
.text-only .wrap{margin:2%}
.text-only h4.title{font-size:16px;font-weight:bold;text-transform:none;padding:10px 0 8px 0;height:auto;display:block}
.text-only ol,.text-only ul{margin:0 0 0 20px}
.text-only ol{list-style:lower-latin}
.text-only li,.text-only p{margin:0 0 8px;line-height:16px}
.text-only em{font-style:italic}
.text-only strong{font-weight:bold}


/*galeri*/
#post-list li{width:47.5%;position:relative;background:#fff;float:left;margin:1%;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;border-radius:8px;-ms-border-radius:8px}
#post-list li .wrap{padding:13px}
.avatar img{margin:0 18px 0 0;float:left;vertical-align:top;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;-ms-border-radius:5px}

.title{margin:0 0 8px;text-transform:uppercase;height:32px;overflow:hidden}
.title a{font-size:14px;font-weight:bold}
#post-list li:hover .goto{display:block}
.goto{width:22px;height:22px;display:block;background:url(../img/go.png) no-repeat 0 0;text-indent:-999em;position:absolute;bottom:10px;right:10px;display:none}
.goto:hover{background-position:100% 0}
.owner{display:block;font-size:14px;color:#444}
#pagination{padding:30px 15px 0 0;float:right}
#pagination li{float:left;margin:0 10px}
#pagination a{background:#0072bb;height:28px;width:28px;text-align:center;line-height:28px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;border-radius:50px;color:#fff;display:block;box-shadow:inset -1px 1px 0 rgba(255,255,255,0.6);font-size:15px}
#pagination a:hover{background:#2195e0}

/*next-phase*/
.next-phase #post-list li{width:95%;margin:0 2% 10px;overflow:hidden;height:130px}
.next-phase .title{margin:0 0 8px;text-transform:uppercase;height:auto}
.next-phase .owner{font-size:12px;margin:0 0 15px}
.next-phase .excerpt{color:#363636;font-size:13px;height:48px;overflow:hidden;line-height:16px}
.next-phase #post-list .tool .wrap{padding:0}
.next-phase #post-list .left{width:75%;position:relative}
.next-phase #post-list .title{max-height:33px;overflow:hidden;margin:0 0 5px}
.next-phase .goto{right:-6.5%;top:0}
.next-phase #post-list .right{width:20%}
.tool{float:right;width:20%;position:absolute;top:0;right:0;height:100%}
.summary{display:block;background:#ebebeb;font-size:36px}
.summary,.vote-btn,.btn1,.btn2{padding:0 5%;height:65px;text-align:center;line-height:71px}
.btn1,.btn2,.vote-btn{background:#890;display:block;background:#567;font-size:25px;color:#fff;background:#96d5fd}
.vote-btn:hover{background:#0072bb;color:#fff}
.phases{text-align:center;margin:10px 0 0}
.phases a{width:140px;background:#0076a3;color:#fff;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;border-radius:50px;-ms-border-radius:50px;padding:5px;text-align:center;font-size:18px;display:inline-block;margin:0 30px;background:#3884b4}
.phases a.active{background:#0076a3;-moz-box-shadow:0 0 13px rgba(102,193,250,0.75);-webkit-box-shadow:0 0 13px rgba(102,193,250,0.75);-o-box-shadow:0 0 13px rgba(102,193,250,0.75);box-shadow:0 0 13px rgba(102,193,250,0.75);-ms-box-shadow:0 0 13px rgba(102,193,250,0.75)}
.phases a:hover{opacity:0.9}

.btn1,.btn2{text-indent:-999em}
.btn1{background:#ebebeb url(../img/fb-share.png) no-repeat center 20px}
.btn1:hover{background:#0072bb url(../img/fb-share.png) no-repeat center -40px}
.btn2{background:#d7d7d7 url(../img/tw-share.png) no-repeat center 20px}
.btn2:hover{background:#0072bb url(../img/tw-share.png) no-repeat center -40px}


/*registration*/
.text-wrap .full,#reg-form .full{width:98%;padding:1%}
#reg-form .full .wrap{background:#0266b4;-moz-border-radius:8px;-webkit-border-radius:5px;border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px}
#url-label{width:100%;display:block;text-align:center;font-size:21px;letter-spacing:1px;color:#fff;font-weight:bold}
#reg-form  #url{width:96%;padding:10px 2%;display:block;text-align:center;margin:13px 0 0}
.text-wrap,#reg-form{background:#eee;width:97%;margin:0 auto;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px}
#reg-form .input-text,#reg-form .textarea{font-size:16px;padding:10px 0;background:#fff;border:1px solid #ddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;margin:0;font-family:Helvetica,Arial,sans-serif}
#reg-instruction{width:98%;display:block;text-align:center;font-size:15px;position:relative;padding:10px 0}
#instruction{color:#666}
#reg-form #submission{padding:0;width:100%}
#reg-form #submission .wrap{-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;-ms-border-radius:8px 8px 0 0;-o-border-radius:8px 8px 0 0}


#reg-form .input-text,#reg-form .textarea{width:96%;padding:10px 2%}
#reg-form p{float:left;width:48%;padding:1%}
#reg-form .wrap{padding:20px 12%}
#reg-form #alamat-wrap{width:98%;padding:1%}
p#reg-btn-wrap{width:98%;margin:1% auto 0;text-align:center;padding:1% 1% 0}
#reg-btn{border:none;background:#29388d;width:50%;margin:0 auto 10px;float:none;padding:10px 0;text-transform:uppercase;font-size:20px;letter-spacing:6px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#fff}
#reg-btn-wrap div{width:50%;margin:0 auto}
#reg-btn-wrap input:hover{cursor:pointer;opacity:0.85}
#task.error{background:#e05e66;text-align:center;display:block;font-size:15px;border:1px solid #ddd;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;width:98%;margin:auto}
#task .wrap{padding:15px 1%;color:#fff}
p#agree-terms{float:none;width:48%;padding:1%;margin:0 auto;text-align:center;clear:both}


/*media query*/
@media (min-width:320px) and (max-width:754px){
#header{background-position:100% 0}
#header .socmed{display:none}
#footer .socmed{display:block}
#cta-home{margin-bottom:15px}
#top-nav{display:none}
#btm-nav{display:block}
#home #main{height:580px}
#logo img,#header{height:75px}
#footer{background:#28388d}
#to-nav{display:block}
#main .to-top{display:block}
}

@media (min-width:320px) and (max-width:679px){
#home #name1{font-size:16px;letter-spacing:8px}
#home #name2{font-size:28px}
#teaser-text{font-size:14px}
#teaser-context{padding:0 0 20px}
#cta-home a{margin:0 5px;font-size:15px;width:130px}
#home #main{min-height:530px}
#cta-home{margin-bottom:20px}
#home #footer{color:inherit}
#cta-top{position:relative;margin:0 auto 20px;left:-5px}
#sub-header{padding-top:15px}
.phases a{margin:0 10px;width:100px}
}

@media (min-width:320px) and (max-width:629px){
#home #appname{padding-top:40px}
#post-list li{width:95%;margin:0 10px 10px}
#post-list .avatar img{width:65px}
#reg-btn{font-size:18px;letter-spacing:4px}
#reg-form .part{width:98%;padding:1%}
#reg-form .wrap{padding:20px 3%}
#url-label{font-size:16px}
#reg-btn{width:58%}
#post-list li .wrap{padding:11px}
}

@media (min-width:320px) and (max-width:529px){
#teaser-context{padding:0 0 10px}
#cta-home{margin:12px 0 0}
#cta-home a{margin:0 0 30%}
#teaser-text{font-size:14px}
#cta-home #cta1{font-size:18px;width:160px}
#cta-home #cta2{background:none;display:inline-block;padding:5px;font-size:18px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;border-radius:50px;-ms-border-radius:50px;-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none;-ms-box-shadow:none}
#home #main{height:450px}
#pagination li{margin:0 7px}
.summary{font-size:25px}
.vote-btn{font-size:20px}
.title a{font-size:12px}
.avatar img{margin-right:12px}
}

@media (min-width:320px) and (max-width:479px){
#teaser-context{font-size:12px}
.phases a{margin:0 5px;width:80px;font-size:16px}
#reg-btn{width:100%}
.single-text{font-size:13px;padding:0 2%}
.boxes{font-size:14px}
p#agree-terms{width:100%}
}

@media (min-width:320px) and (max-width:419px){
#teaser-text .wrap{padding:21% 22% 0}
#teaser-context{font-size:12px}
#cta-home{margin-top:56px}
#cta-home a,#cta-home #cta2{width:160px;font-size:18px;color:#0069b5;background:#fff;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;border-radius:50px;-ms-border-radius:50px;-moz-box-shadow:0 2px 5px rgba(0,0,0,0.4);-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.4);-o-box-shadow:0 2px 5px rgba(0,0,0,0.4);box-shadow:0 2px 5px rgba(0,0,0,0.4);-ms-box-shadow:0 2px 5px rgba(0,0,0,0.4);display:inline-block;padding:5px 0;margin:0 0 15px}
}