/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table, th, td {vertical-align:middle;}
a img {border:none;}
:focus {outline:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input.text, input.title, textarea {/*background-color:#fff;border:1px solid #bbb;*/}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0; margin-top:0;}
input.text, input.title {/*width:300px;padding:5px;*/}
input.title {font-size:1.5em;}
textarea {/*width:390px;height:250px;padding:5px;*/}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* CSS Document */

::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #fff;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}
p { margin: 0 0 15px 0; }
a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}
code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

#header {
	background-color: #111;
	border-bottom: 1px solid #D0D0D0;
	/*margin: 0 0 14px 0;*/
	padding: 14px 15px 10px 15px;
}

#header h1 {
	color: #efefef;
	font-size: 26px;
	font-weight: normal;
	text-align:left;
	margin: 15px 15px 15px 0;
	float:left;
}

a.view_site { margin-top:13px; font-size:10px !important; }

#body{
	margin: 0;
	padding:20px; 
	min-height:350px;
}

#footer {
	border-top: 1px solid #D0D0D0;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#footer p{
	text-align: right;
	font-size: 11px;
	line-height: 32px;
	margin:0;
}

#center-box{
	margin:0 auto;
	padding:80px 0;
	width:300px;
}

#center-box label { float:left; display:block; width:80px; text-align:right; font-weight:bold; margin-right:5px; }
#center-box input { width:150px; }
#center-box p { margin:10px 0; }

fieldset { border:1px solid #D0D0D0; padding:10px 20px; }
fieldset legend { padding:5px 10px; font-size:16px; font-weight:bold; }
label { cursor:pointer; }

h1, h2, h3, h4, h5, h6 {font-weight:bold}
h1{display:block;font-size:2em;font-weight:bold;margin:.67em 0;}
h2{display:block;font-size:1.5em;font-weight:bold;margin:.83em 0;}
h3{display:block;font-size:1.17em;font-weight:bold;margin:1em 0;}
h4{display:block;font-size:1em;font-weight:bold;margin:1.33em 0;}
h5{display:block;font-size:.83em;font-weight:bold;margin:1.67em 0;}
h6{display:block;font-size:.67em;font-weight:bold;margin:2.33em 0;}
strong { font-weight:bold; }
/*
input[type="text"],input[type="password"],textarea{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
input[type="checkbox"],input[type="radio"]{vertical-align:middle;}
*/
.alignleft{float:left;}
.alignright{float:right;}
.textleft{text-align:left;}
.textright{text-align:right;}

.red {color:red}
.green {color:green}
.blue {color:blue}

.fleft {float:left}
.clear {clear:both}



table.tbl_list { border-collapse:collapse; width:100%; border:1px solid #ddd; }
table.tbl_list thead tr{background-color: #333; color:#fff;}
table.tbl_list td, 
table.tbl_list th{padding: 4px 6px; vertical-align:top; margin:0; border-bottom: 1px solid #ddd;}
table.tbl_list th { text-align:left; }
table.tbl_list tbody tr.even{background-color: #efefef;}
table.tbl_list tbody tr.odd{background-color: #fff;}
table.tbl_list tbody tr.hovcolor,
table.tbl_list tbody tr:hover{background-color: #fff1b5;}

table.tbl_form tr th {text-align:left; font-weight:bold;}
table.tbl_form tr th, table.tbl_form tr td {padding:3px; margin:0; vertical-align:top; }

input[type=text],
input.text,
input[type=password],
textarea,
input[type=url]
{
	padding:2px 3px;
	border:1px solid #CDCDCD;
	background:#F8F8F8;
	
	/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
	-webkit-transition: -webkit-box-shadow 0.3s linear;
	
	/* -- CSS3 Shadow - create a shadow around each input element -- */ 
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15) inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15) inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE9, Chrome 10+ */
	
	/* -- CSS3 - Rounded Corners -- */
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	behavior: url('/_assets/css/PIE.htc');
}
textarea { padding: 3px 4px; }

input[type=text]:hover,
input.text:hover,
input[type=password]:hover,
textarea:hover,
input[type=text]:focus,
input.text:focus,
input[type=password]:focus
textarea:focus
{
	border:solid 1px #ABABAB;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); 
	behavior: url('/_assets/css/PIE.htc');
}

.button { 	
	/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
	-webkit-transition: -webkit-box-shadow 0.3s linear;
	
	/* -- CSS3 - Rounded Corners -- */
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	behavior: url('/_assets/css/PIE.htc');
					
	/* -- CSS3 Shadow - create a shadow around each input element -- 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8)); 
	background: -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc); */	
} 

.button:hover { 		
	-webkit-box-shadow: 0px 0px 10px #555;
	-moz-box-shadow: 0px 0px 10px #aaa; 
	box-shadow: 0px 0px 10px #555;	
	cursor:  pointer; 
}

textarea { resize:both; max-width:600px; min-width:200px; }
textarea.vert { resize:vertical; }
textarea.horiz { resize:horizontal; }
textarea.noResize { resize:none; }
#container input[type=text], #container input[type=password] { font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    line-height: 1.11;
	padding: 6px 5px 5px;
	}

body#loginpage { background:#111; }
#loginpage #center-box { margin-top:40px;background:#efefef; border:1px solid #ccc; border-radius:10px; height:auto; padding:15px 0; box-shadow:0 1px 10px #666; }
#loginpage h1 { border-bottom:1px solid #ccc; padding:15px 20px; margin:0; line-height:1.1em; }
table.tbl_form input { width:75%; }
table.tbl_form input.fixed { width:auto; }
table.tbl_form tr th { padding-top:7px; padding-left:7px; padding-right:50px; }
table.tbl_form tr { padding-top:10px; }
#powered_by { text-align:center; color:#fff; font-size:0.8em; margin-top:5px; }
#powered_by a { color:#fff; }
ul#pagination{ margin-left: 0;}
ul#pagination li{ display: inline-block;margin-right: 5px;}
ul#pagination li a.current{ color:black;}
